/*Add your CSS rules*/

/*Some selectors you may need include are
a.skip, header, .nav_links, .container,
.intro, html, .text-block, etc.*/
/*
  Q4
 */
.skip {
  position: absolute;
  top: -40px;
}

.skip:focus-within {
  top: 0;
}

/*
  Q5
 */
header {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

/*
  Q6
 */
.nav_links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

/*
  Q7
 */
.nav_links a:focus, a:hover {
  text-decoration: dotted underline #50C7C7;
  color: #50C7C7;
}

/*
  Q8
 */
.nav_links li {
  padding-bottom: 5px;
}

/*
  Q9
 */
#logo {
  animation-duration: 1s;
  animation-name: logoInit;
  /*width: 50px;*/
}

@keyframes logoInit {
  from {
    width: 0;
    /*height: 50px;*/
  }

  to {
    width: 50px;
    /*height: 50px;*/
  }
}

/*
  Q10
 */
.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: repeat(5, auto);
  grid-row-gap: 15px;
}

/*
  Q11
 */
.intro {
  color: white;
  background-attachment: fixed;
  background-image: url("../images/header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  grid-column: 1/span 3;
}

/*
  Q12
 */
.intro p {
  padding: 100px 0;
}

/*
  Q13
 */
.about-image, .clients-image, .contact-image, .method-image {
  max-height: 700px;
  overflow: hidden;
  grid-column: 1/span 3;
}

/*
  Q14
 */
.about, .method, .clients, .contact {
  grid-column: 2 / span 1;
}

/*
  Q15
 */
.about-image, .about {
  grid-row: 2 / span 1;
}

.method-image, .method {
  grid-row: 3 / span 1;
}

.clients-image, .clients {
  grid-row: 4 / span 1;
}

.contact-image, .contact {
  grid-row: 5 / span 1;
}

/*
  Q16
 */
.text-block {
  align-self: center;
}

/*
  Q17 TODO
 */

@media screen and (min-width: 750px) {
  /*
    Q18
 */
  .nav_links {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  /*
    Q19
   */
  .nav_links li {
    padding: 10px;
  }

  /*
    Q20
 */
  .container {
    grid-template-columns: 50px auto 500px auto 50px;
    grid-template-rows:repeat(5, 400px);
  }

  .intro {
    grid-column: 1/span 5;
  }

  /*
    Q21
   */
  .about, .clients, .contact-image, .method-image {
    grid-column: 3 / span 2;
  }

  .about-image, .clients-image, .contact, .method {
    grid-column: 2 / span 2;
  }
}

@media screen and (min-width: 1125px) {
  /*
    Q23
   */
  header {
    flex-direction: row;
    justify-content: space-between;
  }

  /*
    Q24
   */
  @keyframes logoInit {
    0% {
      width: 50px;
    }
    50% {
      width: 150px;
      left: 450px;
    }
    100% {
      width: 50px;
    }
  }

  /*
    Q25
   */
  .container {
    grid-template-columns: 15px 75px 1fr 25px 1fr 75px 15px;
    grid-template-rows: repeat(3, 400px);
  }

  .intro {
    grid-column: 1 / span 7;
    grid-row: 1 / span 1;
  }

  /*
    Q26
   */
  .about-image, .clients-image {
    grid-column: 2/ span 5;
  }

  .contact-image, .method-image {
    display: none;
  }

  /*
    Q27
   */
  .about {
    grid-column: 3/ span 1;
  }

  .method {
    grid-row: 2 / span 1;
    grid-column: 5/span 1;
  }

  .clients-image, .clients {
    grid-row: 3 / span 1;
  }

  .clients {
    grid-column: 3/ span 1;
  }

  .contact {
    grid-row: 3 / span 1;
    grid-column: 5/span 1;
  }

  /*
    Q28
   */
}

@media (prefers-reduced-motion: reduce) {
  /*
    Q29
   */
  #logo {
    animation: none;
  }

  /*
    Q30,Q31
   */
  html {
    scroll-behavior: auto;
  }

  /*
    Q32
   */
  .intro {
    background-attachment: unset;
  }
}

@media print {
  /*
    Q33
   */
  img {
    display: none !important;
  }

  #logo {
    display: initial !important;
  }

  * {
    background-image: none !important;
  }

  /*
    Q34
   */
  nav {
    align-self: stretch;
  }

  .nav_links {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  /*
    Q35
   */
  .text-block, .intro {
    height: unset;
    min-height: unset;
  }

  .intro p {
    padding: 0;
  }

  .container {
    grid-template-rows: unset;
  }

}





